streamlit
beautifulsoup4
pandas
re
matplotlib.pyplot
wordcloud
nltk
nltk.corpus
nltk.tokenize
nltk.stem
string
numpy
sklearn.cluster
mplcursors
sklearn.cluster
sklearn.metrics
sklearn.preprocessing
sklearn.feature_extraction.text